<h1>New Record for <%= @employee.username %></h1>


<%= form_for @record, url: employee_records_path(@employee) do |f| %>
	<p>
	<%= f.label :date %>
	<%= f.text_field :date, value: Date.today %><br />
	</p>

	<p>
	<%= f.label :horse %>
	<%= f.text_field :horse %><br />
	</p>
	
	<p>
	<%= f.label :hours %>
	<%= f.text_field :hours %><br />
	</p>

	<p>
	<%= f.label :activity %>
	<%= f.text_area :activity %><br />
	</p>
	<%= f.submit "Add Record" %>
<% end %>